*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body{
    align-items: center;
    background-image: url(../Resource/hojasverdesinicio.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #26a9cabe;
    text-align: center;
    padding: 30px 30px;
    box-shadow: 0 5px 10px #15e48b;
}

form .titt{
    color: white;
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label{
    margin-bottom: 30px;
}

form label input{
    border:solid #9b9c99;
    border-radius: 15px;
    color: black;
    padding: 0 15px;
    font-size: 18px;
    margin: 1px;
    width: 350px;
    height: 40px;
    background: white;
}

form label input::placeholder{
    color:#a8a3a5d7 ;
}

.ac{
    margin: 7px;
    background-color: #65afeb;
    border: 0px;
    padding: 5px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
}

.ac:hover{
    background-color: white;
    border: 2px solid #65afeb;
    color: #65afeb;
}

/* Contenedor de input + icono */
.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* El ícono dentro del input */
.password-container i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #666;
}
